main.pwf-services h1{
    text-align: center;
}
main.pwf-services input[type="text"]{
    width: 280px;
    padding: 5px 10px;
    border-radius: 10px;
    display: block;
    margin: 5px auto;
}
p#pwf-services-search-submit{
    padding: 3px 7px 5px 7px;
    border-radius: 10px;
    border: solid black 2px;
    margin: 5px auto;
    width: fit-content;
    background: rgba(239, 211, 211, 0.4);
}
div#pwf-services-search-results{
    background: rgba(239, 211, 211, 0.15);
    border-radius: 20px;
    width: 95%;
    max-width: 800px;
    padding: 20px;
    margin: 10px auto;
}